# Cadena de conexión a PostgreSQL en Docker (puerto 5434)
DATABASE_URL="postgresql://sgh:sgh@localhost:5434/sgh?schema=public"

# Credenciales de Clerk Backend (fase 1)
CLERK_SECRET_KEY=sk_test_...
CLERK_WEBHOOK_SECRET=whsec_...

# Puerto del Servidor Backend NestJS
PORT=3000
